<div class = "reset-page">
    <div class = "reset-container">

        <div class = "visual-caontainer">
            visuel
        </div>

        <div class = "myspace-caontainer">
            Mon espace courtier IKI
        </div>

		<div 
            *ngIf="error && error.message != ''"
            class = "form-error">
            {{error.message}}
        </div>

        <form 
        	*ngIf = "error && error.type != 'invalid'"
            [formGroup] = "forgetForm" 
            (ngSubmit) = "onSubmit()">
            
            <div class = "form-item">
                <label for = "password1">password1 </label>

                <input type = "password" 
                    formControlName = "password1" 
                    [ngClass] = "{ 'is-invalid': submitted && f.password1.errors }" />

                <div 
                    *ngIf = "submitted && f.password1.errors"
                    class = "form-error">
                    <div *ngIf = "f.password1.errors.required">
                        Le nouveau mot de passe est requis
                    </div>
                </div>

            </div>

            <div class = "form-item">
                <label for = "password2">password2 </label>
                
                <input type = "password" 
                    formControlName = "password2" 
                    [ngClass] = "{ 'is-invalid': submitted && f.password2.errors }" />
                
                <div 
                    *ngIf = "submitted && f.password2.errors"
                    class = "form-error">
                    <div *ngIf = "f.password2.errors.required">
                        La confirmation de mot de passe est requis
                    </div>
                </div>
               
            </div>

            <div class = "form-item">
                <button 
                	*ngIf = "!success"
                	class = "btn submit-btn" 
                	[disabled] = "loading">

                    <span *ngIf="!loading">
                        OK
                    </span>
                               
                    <img 
                        *ngIf="loading" 
                        src="./assets/loading.gif" />
                </button> 

                <p
                    *ngIf = "success"
                    class = "reset-success">
                    Votre modification de mot de passe a bien été effectuée. Cliquez ici pour vous connecter à votre espace coutier IKI.
                    <button 
                        (click) = "backToLogin()"
                        class = "btn reset-btn">
                        OK
                    </button>
                </p>                    
            </div>

        </form>

    </div>
</div>